.row{
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    margin-bottom: 5px;
}
.grid{
    background-color: #BBADA0;
    height: 500px;
    width:500px;
    border-radius: 10px;
    border: #BBADA0 solid 10px;
}
.cell{
    background-color:#EEE4DA;
    font-size: xx-large;
    height: 85px;
    width: 85px;
    margin-top: 10px;
    border-radius: 9px;
    text-align: center;
    line-height: 80px;
}
.cell-zero{
    background-color:#CDC1B4;
}
.cell-4{
    background-color:#EEE1C9 ;
}
.cell-8{
    background-color: #F3B27A;
}
.cell-16{
    background-color: #F69664;
}
.cell-32{
    background-color: #F77C5F;
}
.cell-64{
    background-color: #F75F3B;
}
.cell-128{
    background-color: #F75F48;
}
.cell-256{
    background-color: cadetblue;
}
.cell-512{
    background-color: #2020ff;
}
.cell-1024{
    background-color: #BBADA0;
}
.cell-2048{
    background-color: black;
}
body{
    background-color: pink;
}
p{
    font-size:xxx-large;
    text-align: center;
}
#game-2048{
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%,-50%) scale(1.25,1.25);
}
.foot{
    text-align: center;
    color: #F77C5F;
}